// Colors
$primary-color:           #335aff;
$secondary-color:         #666acc;

$font-color:              $secondary-color;
$heading-color:           $primary-color;

// Radius
$border-radius:           6px;

// Fonts
$sans-font:              'Montserrat', helvetica, arial, sans-serif;
$serif-font:             'Josefin Slab', georgia, serif;
$font-size:              18px;

// Shadows
$deep-shadow:            0 4px 40px -13px rgba(72, 66, 67, 0.4);
