{{#> layouts/base
  title=""
  description=""
  ogTitle=""
  ogDescription=""
  ogImage=""
}}

{{#*inline "main-block"}}
  <div class="container my-5 my-md-5 py-md-5">
    <div class="row align-items-start">
      <div class="col">
        <h1>Main Content</h1>
      </div>
    </div>
  </div>
{{/inline}}

{{/layouts/base}}
