<div class="container-fluid">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center">
        <p>
          Footer content.
        </p>
      </div>
    </div>
  </div>
</div>
