<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <img src="img/logo.png" alt="" height="60" />
  <a class="navbar-brand" href="index.html">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Page One</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page Two</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="#">Primary CTA</a>
      </li>
    </ul>
  </div>
</nav>
