<div class="container mt-5 py-5">

  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mb-0">Our Faces</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-lg-4">
      <div class="p-4">
        <div class="mb-4 text-center">
          <img src="img/headshot_sean.gif" alt="Sean and his cat" class="img-fluid carousel__container " />
        </div>
        <div class="text-center text-lg-left">
          <h3>Sean <small><a href="https://www.instagram.com/seanmetzgar" target="_blank"><i class="fab fa-instagram"></i></a></small></h3>
          <p>
            builds all sorts of neat things from apps to APIs
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="p-4">
        <div class="mb-4 text-center">
          <img src="img/headshot_chris.jpg" alt="Chris's ugly mug" class="img-fluid carousel__container " />
        </div>
        <div class="text-center text-lg-left">
          <h3>& Chris <small><a href="https://www.instagram.com/clickpop" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://www.chrisvqz.com" target="_blank"><i class="fas fa-envelope ml-2"></i></a></small></h3>
          <p>
            designs experiences and interfaces people love to use
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="p-4">
        <div class="mb-4 text-center">
          <img src="img/headshot_graham.jpg" alt="Graham's smiling face" class="img-fluid carousel__container " />
        </div>
        <div class="text-center text-lg-left">
          <h3>& Graham <small><a href="https://www.instagram.com/instagrahamv" target="_blank"><i class="fab fa-instagram"></i></a></small></h3>
          <p>
            finds ways to make code do what it should.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
